/* 
- Font size (quote): 28px
 */
:root {
    --clr-cyan: hsl(193, 38%, 86%);
    --clr-green: hsl(150, 100%, 66%);

    --clr-gray-1: hsl(217, 19%, 38%);
    --clr-gray-2: hsl(217, 19%, 24%);
    --clr-gray-3: hsl(218, 23%, 16%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
body {
    background-color: var(--clr-gray-3);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    background-color: var(--clr-gray-2);
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 20px hsl(218, 23%, 16%, 0.5);
    margin: 50px auto;
    position: relative;
}
.title {
    color: var(--clr-green);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}
.quote {
    font-weight: 400;
    color: var(--clr-cyan);
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 700;
}
.separator {
    margin-bottom: 2rem;
}

.dice {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green);
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: -22px;
    transform: translateX(-50%);
}
.dice img {
    width: 20px;
}
.dice:hover {
    box-shadow: 0 0 30px var(--clr-green);
}
.loading {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}
.error {
    color: rgb(255, 77, 77);
}
